<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
        ABOUT PHFEASANT PHFINANCIAL
    </title>
    <div class="container-fluid" style="min-height:95%; ">
        <div class="row">
            <div class="col-sm-10">
                <br>
                <div class="dropdown">
                    <style>
                        .glyphicon-menu-hamburger {
                            font-size: 20px;
                        }
                    </style>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/account/signedinhome">home</a>
                        </li>
                        <li>
                            <a href="/account/account">account</a>
                        </li>
                        <li>
                            <a href="/account/contact">contact</a>
                        </li>
                        <li>
                            <a href="/account/about">about</a>
                        </li>
                    </ul>
                </div>
                <style>
                    .header {
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }
                </style>
                <div class="header">
                    <h2 class="container-fluid">About Us</h2>
                </div>
                <hr>
            </div>
        </div>
    </div>
</head>

<body class="body" style="background-color:#c6e8ff">

    <br>
    <div>
        <center>
            <h5> This website was created with the intention of building a platform where anyone can trade cryptocurrencies but
                in a social way. As time goes on this site will be expanding and growing so that we can continually support
                more people and more trading.
            </h5>
        </center>
    </div>
    <div class='container-fluid'>
        <br>
        <br> {% block content %} {% endblock %}
    </div>
    <br>
    <br>
    <div class="container-fluid text-center">
        <h3>SERVICES</h3>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <h4>TRADING</h4>
                <p>as many coins supported as possible</p>
            </div>
            <div class="col-sm-4">
                <h4>INTELLIGENCE</h4>
                <p>trading smart</p>
            </div>
            <div class="col-sm-4">
                <h4>SECURITY</h4>
                <p>your info, secure</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <hr>
    {% load staticfiles %}
    <div id="portfolio" class="container-fluid bg-white">
            <div class="container-fluid text-center"><h2>The Team</h2></div> 
    <div class="row text-center slideanim">
    <div class="col-sm-4">
    <h4>Sam Fox</h4> 
    <h5>Full Stack Engineer</h5>
    <img src="{% static 'home/sam.png' %}"alt="sam" style="width:210px;height:210px;">
    </div>
    <div class="col-sm-4">
    <h4>Rikesh Sharma</h4>
    <h5>Full Stack Engineer</h5>
    <img src="{% static 'home/ricky.png' %}" alt="ricky" style="width:210px;height:210px;"> 
    </div>
    <div class="col-sm-4">
    <h4>Marc Gehman</h4> 
    <h5>Backend Engineer</h5>
    <img src="{% static 'home/marc.png' %}"alt="marc" style="width:210px;height:210px;">
    </div>
    <div class="col-sm-4">
    <h4>Shumeng Zhong</h4> 
    <h5>Database Administrator</h5>
    <img src="{% static 'home/shumeng.png' %}"alt="shumeng" style="width:210px;height:210px;">
    </div>
    <div class="col-sm-4">
    <h4>Gerard Pugliese</h4> 
    <h5>Frontend Engineer</h5>
    <img src="{% static 'home/gerard.png' %}"alt="gerard" style="width:210px;height:210px;">
    </div>
    </div>
    </div>
    <div></div>
    <style>
        * {
            margin: 0;
        }


        .wrapper {
            min-height: 5%;
            height: auto !important;
            height: 5%;
            margin: 0 auto -20px;
            background-color: #1b303f;
            /* the bottom margin is the negative value of the footer's height */
        }

        .footer,
        .push {
            height: 20px;
            /* .push must be the same height as .footer */
        }
    </style>
    <div class="wrapper">
        <footer class="container-fluid text-center">
            <div class='container-fluid'>
                <p>
                    <a href="/account/about/" title="about" style="color: rgb(255, 255, 255)">about</a>
                </p>
                <p style="color: rgb(255, 255, 255)">Copyright &copy; 2018 PHF-PHF</p>
            </div>
        </footer>
        <div class="push"></div>
    </div>
    <div class="footer"></div>

</body>

</html>