<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
        ACCOUNT PHFEASANT PHFINANCIAL
    </title>
</head>
<input type="button" class="btn btn-warning" onClick="parent.location='/account/logout'" value="Sign-Out" style="float: right;">

<body class="body" style="background-color:#c6e8ff">
    <div class="container-fluid" style="min-height:95%; ">
        <div class="row">
            <div class="col-sm-10">
                <br>
                <div class="dropdown">
                    <style>
                        .glyphicon-menu-hamburger {
                            font-size: 20px;
                        }
                    </style>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/account/signedinhome/">home</a>
                        </li>
                        <li>
                            <a href="/account/account/">account</a>
                        </li>
                        <li>
                            <a href="/account/contact">contact</a>
                        </li>
                        <li>
                            <a href="/account/about">about</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="container-fluid">
                <div class="row content">
                    <div class="col-sm-9">
                        <input type="button" method='GET' class="btn btn-warning" onClick="parent.location='/account/load_info'" value="Load Account Info" style="float: right;">
                    </div>
                    <div class="col-sm-9">
                        <div class="well">
                            <h1>Hello, {{user.username}}</h1>
                            {% if message %}
                            <div>
                                <h4> {{message}}</h4>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>User</h4>
                                    <p>{{user.username}}</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>Balance</h4>
                                    <p>info</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>Holdings</h4>
                                    {% if holdings %} {% for holding in holdings %}
                                    <h5 style="color: rgb(0, 0, 0)">{{holding.ticker}}</h5>
                                    <h8 style="color: rgb(13, 0, 131)">{{holding.amount}}</h8>
                                    {% endfor %} {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>Email on file</h4>
                                    <p>{{user.email}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="well">
                                    <h4>Recent Transactions</h4>
                                    <p>Text</p>
                                    <p>Text</p>
                                    <p>Text</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="well">
                                    <h4>Credit Card on file (last 4 numbers)</h4>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="well">
                                    <p>Thank you for being a part of PHF-PHF</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <style>
        .footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: #3a3e44;
            text-align: center;
        }
    </style>
    <footer class="footer">
        <div class='container-fluid'>
            <p>
                <a href="/account/about/" title="about" style="color: rgb(255, 255, 255)">about</a>
            </p>
            <p style="color: rgb(255, 255, 255)">Copyright &copy; 2018 PHF-PHF</p>
        </div>
    </footer>
</body>

</html>