<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
        ACCOUNT PHFEASANT PHFINANCIAL
    </title>
</head>
<input type="button" class="btn btn-warning" onClick="parent.location='/account/logout'" value="Sign-Out" style="float: right;">

<body class="body" style="background-color:#c6e8ff">
    <div class="container-fluid" style="min-height:95%; ">
        <div class="row">
            <div class="col-sm-10">
                <br>
                <div class="dropdown">
                    <style>
                        .glyphicon-menu-hamburger {
                            font-size: 20px;
                        }
                    </style>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/account/signedinhome/">home</a>
                        </li>
                        <li>
                            <a href="/account/account/">account</a>
                        </li>
                        <li>
                            <a href="/account/contact">contact</a>
                        </li>
                        <li>
                            <a href="/account/about">about</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="container-fluid">
                <div class="row content">
                    <div class="col-sm-9">
                        <input type="button" method='GET' class="btn btn-warning" onClick="parent.location='/account/load_info'" value="Load Account Info"
                            style="float: right;">
                    </div>
                    <div class="col-sm-9">
                        <div class="well">
                            <h1>Hello, {{user.first_name}}</h1>
                            {% if message %}
                            <div>
                                <h4> {{message}}</h4>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>User</h4>
                                    <p>{{user.username}}</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>Balance</h4>
                                    {% if info %}
                                    <h5 style="color: rgb(0, 0, 0)">Your current balance is {{info.balances.balance}}</h5>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>Holdings</h4>
                                    {% if info %} {% for holding in info.holding %}
                                    {% if holding.ticker %}
                                    <h5 style="color: rgb(0, 0, 0)">{{holding.ticker}}</h5>
                                    <h8 style="color: rgb(13, 0, 131)">{{holding.amount}}</h8>
                                    {% else %}
                                    <h5 style="color: rgb(0, 0, 0)">Currently no holdings</h5>
                                    {% endif %}
                                    {% endfor %} {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>Email on file</h4>
                                    <p>{{user.email}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="well">
                                    <h4>Recent Transactions</h4>
                                    {% if info %} {% for transaction in info.transactions %}
                                    <h8 style="color: rgb(13, 0, 131)">{{transaction.amount}} of {{transaction.ticker}} on {{transaction.timestamp}}</h8>
                                    <hr>
                                    {% endfor %} {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="well">
                                    <h4>Credit Card on file (last 4 numbers)</h4>
                                    {% if info %}
                                    <p>{{info.user}}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="well">
                                        <form type="post" method="post" action="{%url 'update_balance' %}" style="margin:0;">{% csrf_token %}
                                            <input id="balance_box" type="number" name="balance_box" style="width: 300px;" placeholder="withdraw/deposit amount...">
                                            <button id="update_balance" class="btn btn-primary btn-sm" type="submit" formaction="{%url 'update_balance' %}">Update Balance</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div></div>
    <style>
        * {
            margin: 0;
        }


        .wrapper {
            min-height: 5%;
            height: auto !important;
            height: 5%;
            margin: 0 auto -20px;
            background-color: #1b303f;
            /* the bottom margin is the negative value of the footer's height */
        }

        .footer,
        .push {
            height: 20px;
            /* .push must be the same height as .footer */
        }
    </style>
    <div class="wrapper">
        <footer class="container-fluid text-center">
            <div class='container-fluid'>
                <p>
                    <a href="/account/about/" title="about" style="color: rgb(255, 255, 255)">about</a>
                </p>
                <p style="color: rgb(255, 255, 255)">Copyright &copy; 2018 PHF-PHF</p>
            </div>
        </footer>
        <div class="push"></div>
    </div>
    <div class="footer"></div>
</body>

</html>