<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
        ACCOUNT PHFEASANT PHFINANCIAL
    </title>
</head>
<input type="button" class="btn btn-warning" onClick="parent.location='/home/logout'" value="Sign-Out" style="float: right;">
<body class="body" style="background-color:#c6e8ff">
    <div class="container-fluid" style="min-height:95%; ">
        <div class="row">
            <div class="col-sm-10">
                <br>
                <div class="dropdown">
                    <style>
                        .glyphicon-menu-hamburger {
                            font-size: 20px;
                        }
                    </style>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/home/index/">home</a>
                        </li>
                        <li>
                            <a href="/account/account/">account</a>
                        </li>
                        <li>
                            <a href="/home/register">register</a>
                        </li>
                        <li>
                            <a href="/home/contact">contact</a>
                        </li>
                        <li>
                            <a href="/home/about">about</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="container-fluid">
                <div class="row content">

                    <div class="col-sm-9">
                        <div class="well">
                            <h1>Hello, {{user.first_name}}</h1>
                            {% if message %}
                                <div>
                                    <h4> {{message}}</h4>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>Users</h4>
                                    <p>info</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>Pages</h4>
                                    <p>info</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>Sessions</h4>
                                    <p>info</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="well">
                                    <h4>Info</h4>
                                    <p>info</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="well">
                                    <p>Text</p>
                                    <p>Text</p>
                                    <p>Text</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="well">
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="well">
                                    <p>Text</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    .footer { right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #3a3e44; text-align: center;
    }
    </style>
    <footer class="footer">
        <div class='container-fluid'>
            <p>
                <a href="/home/about/" title="about" style="color: rgb(255, 255, 255)">about</a>
            </p>
            <p style="color: rgb(255, 255, 255)">Copyright &copy; 2018 PHF-PHF</p>
        </div>
    </footer>
</body>

</html>