<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type = "text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            ABOUT PHFEASANT PHFINANCIAL
        </title>
    </head>

    <body class="body" style="background-color:#c6e8ff">
        <div>
            Hello. This is the about.
        </div>
        <div class='container-fluid'>
                <br><br>
                   {% block content %}
                   {% endblock %}	
                </div>
        <div>
        <footer>
            <a href="/home/index">go back</a>
        </footer.>
        </div>
    </body>
</html>