<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
        CONTACT PHFEASANT PHFINANCIAL
    </title>
</head>

<body>
    <div class="container-fluid bg-grey">
        <br>
        <div class="dropdown">
            <style>
                .glyphicon-menu-hamburger {
                    font-size: 20px;
                }
            </style>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="/home/index">home</a>
                </li>
                <li>
                    <a href="/account/account">account</a>
                </li>
                <li>
                    <a href="/home/register">register</a>
                </li>
                <li>
                    <a href="/home/contact">contact</a>
                </li>
                <li>
                   <a href="/home/about">about</a>
                </li>
            </ul>
        </div>
        <h2 class="text-center">Connect with Us</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span> State College PA, US</p>
                <p>
                    <span class="glyphicon glyphicon-phone"></span> (111)-222-3333</p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span> email@PHFPHF.com</p>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                <br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #3a3e44;
        text-align: center;
    }
</style>
<footer class="footer">
    <div class='container-fluid'>
        <p>
            <a href="/home/about/" title="about" style="color: rgb(255, 255, 255)">about</a>
        </p>
        <p style="color: rgb(255, 255, 255)">Copyright &copy; 2018 PHF-PHF</p>
    </div>
</footer>
</body>

</html>